<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BLOG</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
    </head>
    <body>
        <main class="home-main">
            <div class="home-container">
                <div class="home-description">
                    <h2>ようこそBLOGアプリへ</h2>
                    <p>今貴方が最も知りたい記事をお届けします</p>
                    <p>過去も現在も未来も全て揃っております。</p>
                    <a href="/list" class="btn home-btn">閲覧する</a>
                </div>
            </div>
        </main>
    </body>
</html>